@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  color: #1A202E;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  font-family: "Epilogue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
}

.xl {
  width: 1280px;
  margin: 0 auto;
  max-width: 95%;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid #f3f4f6;
}

.header .xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 0 3rem;
}

.header-left__options li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
}

.header-left__options li span {
  display: inline-block;
  font-weight: bold;
}

@media screen and (max-width: 860px) {
  .header-left__options li {
    display: none;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header-right button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.header-right button span {
  font-weight: bold;
  display: inline-block;
  line-height: 18px;
}

@media screen and (max-width: 640px) {
  .header-right button span {
    display: none;
  }
}

.header-right .upload {
  border: 2px solid #009e61;
}

.header-right .upload span {
  color: #009e61;
}

.header-right .upload:hover {
  background: #F1F5F9;
}

.header-right .github {
  border: none;
}

.header-right .github span {
  color: #1A202E;
}

.header-right .github:hover span {
  color: rgba(26, 32, 46, 0.75);
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main .xl {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 2px dashed #fed116;
  border-right: 2px dashed #009e61;
}

.main .bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.main .bg-lines .bg-line {
  border-right: 2px #f3f4f6;
  width: 100%;
  height: 100%;
}

.main .bg-lines .bg-line:nth-child(even) {
  border-right-style: dashed;
}

.main .bg-lines .bg-line:nth-child(odd) {
  border-right-style: solid;
}
/*# sourceMappingURL=style.css.map */