// Fonts
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

// Colors
$yellow: #fed116;
$green: #009e61;
$gray: #f3f4f6;
$black: #1A202E;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  color: $black;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  font-family: "Epilogue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
}

.xl {
  width: 1280px;
  margin: 0 auto;
  max-width: 95%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid $gray;
  .xl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{

    }
    &__options{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 0 3rem;
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        span{
          display: inline-block;
          font-weight: bold;
        }
        @media screen and (max-width: 860px) {
          display: none;
        }
      }
    }
  }
  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      background: #fff;
      cursor: pointer;
      transition: .3s ease;
      span{
        font-weight: bold;
        display: inline-block;
        line-height: 18px;
        @media screen and (max-width: 640px) {
          display: none;
        }
      }
    }
    .upload{
      border: 2px solid $green;
      span{
        color: $green;
      }
      &:hover{
        background: #F1F5F9;
      }
    }
    .github{
      border: none;
      span{
        color: $black;
      }
      &:hover{
        span{
          color: rgba($color: $black, $alpha: .75);
        }
      }
    }
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .xl {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 2px dashed $yellow;
    border-right: 2px dashed $green;
  }
  .bg-lines{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    .bg-line{
      border-right: 2px $gray;
      width: 100%;
      height: 100%;
      &:nth-child(even){
        border-right-style: dashed;
      }
      &:nth-child(odd){
        border-right-style: solid;
      }
    }
  }
}
